:root {
  --primary-color: rgb(13, 95, 138);
  --secondary-color: rgb(110, 195, 193);
  --tertiary-color: rgb(51, 81, 32);
  --quaternary-color: rgb(157, 204, 95);
}

/* UTILITY SYTLES START */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
}
/* UTILITY STYLES END */

/* HEADER STYLES START */
header {
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-size: 80px;
  color: var(--secondary-color);
  width: 80%;
  text-align: center;
  border-bottom: 1px solid var(--quaternary-color);
  margin-bottom: 15px;
}

header nav {
  width: 100%;
  margin-bottom: 15px;
  padding: 0 10px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

header nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: var(--secondary-color);
}
/* HEADER STYLES END */

/* HERO STYLES START */
.hero {
  background-color: var(--tertiary-color);
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  background-image: url("../images/dark-vector.png");
  background-size: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
}

.hero h2 {
  width: 100%;
  text-align: center;
  color: var(--secondary-color);
  font-size: 80px;
  margin-bottom: 20px;
}

.hero p {
  color: white;
  text-align: center;
  width: 80%;
  font-size: 20px;
}
/* HERO STYLES END */

/* ABOUT ME STYLES START */
#about-me {
  margin: 15px auto;
}

#about-me div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#about-me div img {
  width: 25%;
  border-radius: 50%;
}

#about-me div div {
  text-align: center;
  font-size: 20px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

#about-me h2 {
  text-align: center;
  font-size: 60px;
  width: 100%;
}
/* ABOUT ME STYLES END */

/* PROJECTS SECTION START */
#deployed {
  background-color: var(--primary-color);
  color: black;
}

#deployed h2,
#deployed > p {
  color: white;
}

#deployed div article {
  border: 2px solid white;
  border-radius: 15px;
  background-color: var(--secondary-color);
}


#playground {
  background-color: var(--quaternary-color);
}

#playground div article {
  border: 2px solid black;
  border-radius: 15px;
  background-color: var(--tertiary-color);
}

#playground div article h3,
#playground div article p {
  color: white;
}

#developing {
  background-color: var(--tertiary-color);
  color: white;
}

#developing div article {
  border: 2px solid white;
  border-radius: 15px;
  background-color: var(--quaternary-color);
}

#developing div article h3,
#developing div article p {
  color: black;
}

.projects h2 {
  text-align: center;
  margin: 0 auto;
  padding-top: 40px;
  font-size: 60px;
  width: 100%;
}

.projects > p {
  text-align: center;
  width: 70%;
  font-size: 30px;
  border-bottom: 4px solid;
  margin: 0 auto 40px auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 200px;
  margin-bottom: 20px;
}

.projects-container article h3 {
  font-size: 20px;
  text-decoration: underline;
}

.projects-container article div {
  width: 60%;
}

.projects-container article img {
  width: auto;
  max-height: 90%;
  object-fit: contain;
  box-shadow: 0px 0px 15px black;
}

.projects-container article:first-child {
  height: 400px;
}

.projects-container article:first-child div {
  width: 30%;
}
.projects-container article:first-child img {
  width: auto;
}
/* PROJECTS SECTION END */
