:root {
  box-sizing: content-box;
  --blue: rgb(86, 166, 234);
  --orange: rgb(194, 138, 91);
  --red: rgb(181, 84, 94);
  --green: rgb(137, 184, 110);
  --yellow: rgb(228, 191, 123);
  --light-gray: rgb(160, 169, 182);
  --dark-gray: rgb(30, 33, 38);
}

html,
body {
  min-height: 100%;
  background: var(--dark-gray);
  color: var(--light-gray);
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--orange),
    transparent
  );
}

/* NAV */
#header-name {
  font-size: 3rem;
  display: block;
  width: 100%;
  text-align: center;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  color: var(--blue);
}

.nav-item {
  margin-right: 10px;
}

.nav-item:hover {
  color: var(--green);
  cursor: pointer;
}

.nav-active {
  color: var(--yellow);
}
